<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Opc.UaFx.Client"
             type="Opc.Ua.ApplicationConfigurationSection,
                   Opc.UaFx.Advanced,
                   Version=2.0.0.0,
                   Culture=neutral,
                   PublicKeyToken=0220af0d33d50236" />
  </configSections>

  <system.serviceModel>
    <!-- 
    UA servers built with the SDK use the Opc.Ua.SessionEndpoint class to implement the ISessionEndpoint 
    contract. It is possible to add additional behavoirs in the configuration file by referencing this 
    service. For example, the configuration in this file turns on metadata publishing.
    -->
    <services>
      <service name="Opc.Ua.SessionEndpoint"
               behaviorConfiguration="Opc.Ua.SessionEndpoint.Behavior">
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
    <!--
    Servers deployed in production environments should turn the httpGetEnabled and
    includeExceptionDetailInFaults options off.
    -->
    <behaviors>
      <serviceBehaviors>
        <behavior name="Opc.Ua.SessionEndpoint.Behavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <Opc.UaFx.Client>
    <ConfigurationLocation xmlns="http://opcfoundation.org/UA/SDK/Configuration.xsd">
      <FilePath>ClientConfig.xml</FilePath>
    </ConfigurationLocation>
  </Opc.UaFx.Client>
</configuration>
